.tables {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: flex-start;
}

.unselected-table {
    order: 0;
    margin: 2em;
    flex: 1 1 0;
}

.unselected-table-body {
    align-self: flex-start;
    text-align: left;
    padding: 2% 0%;
    margin: 2em;
    flex: 1 1 0;
}

.selected-table {
    order: 2;
    margin: 2em;
    flex: 1 1 0;
}

.selected-table-body {
    align-self: flex-start;
    text-align: left;
    padding: 2% 0%;
    margin: 2em;
    flex: 1 1 0;
}